In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# Files to Load 
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read School & Student Data files into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
school_data_complete.shape

(39170, 11)

## District Summary

* Calculate the total number of schools

In [6]:
total_schools = school_data_complete["school_name"].unique()
total_schools = (len(total_schools))
print(f'Total schools = {total_schools}')

Total schools = 15

In [7]:
schools = school_data_complete["school_name"].unique()
print(schools)

['Huang High School' 'Figueroa High School' 'Shelton High School'
 'Hernandez High School' 'Griffin High School' 'Wilson High School'
 'Cabrera High School' 'Bailey High School' 'Holden High School'
 'Pena High School' 'Wright High School' 'Rodriguez High School'
 'Johnson High School' 'Ford High School' 'Thomas High School']

In [8]:
types = school_data_complete["type"].unique()
types

array(['District', 'Charter'], dtype=object)

* Calculate the total number of students

In [9]:
total_students = len(school_data_complete)
print(f'Total students = {total_students}')

Total students = 39170

* Calculate the total budget

In [10]:
budget_group_df = pd.DataFrame(school_data_complete.groupby("school_name").max())
total_budget = budget_group_df["budget"].sum()
total_budget

24649428

In [11]:
#Convert grade to integer
school_data_complete["grade"] = school_data_complete["grade"].str.replace("th", "")
school_data_complete["grade"] = school_data_complete["grade"].astype(int)
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,97,84,0,District,2917,1910635

In [12]:
#Format budgets to appear as currency
budget_group_df = budget_group_df["budget"].map("${:,}".format)
budget_group_df

school_name
Bailey High School       $3,124,928
Cabrera High School      $1,081,356
Figueroa High School     $1,884,411
Ford High School         $1,763,916
Griffin High School        $917,500
Hernandez High School    $3,022,020
Holden High School         $248,087
Huang High School        $1,910,635
Johnson High School      $3,094,650
Pena High School           $585,858
Rodriguez High School    $2,547,363
Shelton High School      $1,056,600
Thomas High School       $1,043,130
Wilson High School       $1,319,574
Wright High School       $1,049,400
Name: budget, dtype: object

* Calculate the average math score

In [13]:
dist_math_avg = school_data_complete["math_score"].mean()
dist_math_avg = round(dist_math_avg, 1)
dist_math_avg

79.0

*Calculate the average reading score

In [14]:
dist_reading_avg = school_data_complete["reading_score"].mean()
dist_reading_avg = round(dist_reading_avg, 1)
dist_reading_avg

81.9

* Calculate the average reading score

In [15]:
school_avgs = (school_data_complete.groupby(["school_name"]).mean())
school_avgs = round(school_avgs, 1)
school_avgs

,Student ID,grade,reading_score,math_score,School ID,size,budget
school_name,,,,,,,
Bailey High School,20358.5,10.4,81.0,77.0,7.0,4976.0,3124928.0
Cabrera High School,16941.5,10.4,84.0,83.1,6.0,1858.0,1081356.0
Figueroa High School,4391.0,10.4,81.2,76.7,1.0,2949.0,1884411.0
Ford High School,36165.0,10.3,80.7,77.1,13.0,2739.0,1763916.0
Griffin High School,12995.5,10.4,83.8,83.4,4.0,1468.0,917500.0
Hernandez High School,9944.0,10.3,80.9,77.3,3.0,4635.0,3022020.0
Holden High School,23060.0,10.3,83.8,83.8,8.0,427.0,248087.0
Huang High School,1458.0,10.4,81.2,76.6,0.0,2917.0,1910635.0
Johnson High School,32415.0,10.4,81.0,77.1,12.0,4761.0,3094650.0
Pena High School,23754.5,10.4,84.0,83.8,9.0,962.0,585858.0
Rodriguez High School,28035.0,10.4,80.7,76.8,11.0,3999.0,2547363.0
Shelton High School,6746.0,10.4,83.7,83.4,2.0,1761.0,1056600.0
Thomas High School,38352.0,10.4,83.8,83.4,14.0,1635.0,1043130.0
Wilson High School,14871.0,10.4,84.0,83.3,5.0,2283.0,1319574.0
Wright High School,25135.5,10.4,84.0,83.7,10.0,1800.0,1049400.0

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

In [16]:
overall = (dist_math_avg + dist_reading_avg)/2
overall = (round(overall, 1))
overall

80.5

* Calculate the percentage of students with a passing math score (70 or greater)

In [17]:
math_pass_count = school_data_complete.loc[school_data_complete["math_score"] >= 70]
math_pass_pcnt = (((len(math_pass_count))/total_students) * 100)
math_pass_pcnt = round(math_pass_pcnt,1)
math_pass_pcnt

75.0

* Calculate the percentage of students with a passing reading score (70 or greater)

In [18]:
reading_pass_count = school_data_complete.loc[school_data_complete["reading_score"] >= 70]
reading_pass_pcnt = (((len(reading_pass_count))/total_students) *100)
reading_pass_pcnt = (round(reading_pass_pcnt, 1))
reading_pass_pcnt

85.8

In [19]:
#Create new District Summary dataframe:
dist_df = pd.DataFrame({
        "Total Students": [total_students],
        "Total District Budget": (total_budget),
        "District Math Average": (dist_math_avg),
        "Percent Students Passing Math" : str(math_pass_pcnt)+"%",
        "District Reading Average": (dist_reading_avg),
        "Percent Students Passing Reading": str(reading_pass_pcnt)+"%",
        "Overall Passing Rate": str(overall)+"%"
})

In [20]:
#Format values in new dataframe
dist_df["Total Students"] = dist_df["Total Students"].map("{:,}".format)
dist_df["Total District Budget"] = dist_df["Total District Budget"].map("${:,}".format)
dist_df

,Total Students,Total District Budget,District Math Average,Percent Students Passing Math,District Reading Average,Percent Students Passing Reading,Overall Passing Rate
0,"39,170","$24,649,428",79.0,75.0%,81.9,85.8%,80.5%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [21]:
school_pop = school_data_complete["school_name"].value_counts()
school_pop

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [22]:
schools_df = pd.DataFrame(schools, school_pop)
schools_df

                                 0
school_name
4976             Huang High School
4761          Figueroa High School
4635           Shelton High School
3999         Hernandez High School
2949           Griffin High School
2917            Wilson High School
2739           Cabrera High School
2283            Bailey High School
1858            Holden High School
1800              Pena High School
1761            Wright High School
1635         Rodriguez High School
1468           Johnson High School
962               Ford High School
427             Thomas High School

In [23]:
school_group = school_data_complete.groupby("school_name")
budgets = school_group["budget"].max()
print(budgets)

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [24]:
pp_spend = budgets/school_pop
pp_spend = pp_spend.astype(int)
pp_spend

Bailey High School       628
Cabrera High School      582
Figueroa High School     639
Ford High School         644
Griffin High School      625
Hernandez High School    652
Holden High School       581
Huang High School        655
Johnson High School      650
Pena High School         609
Rodriguez High School    637
Shelton High School      600
Thomas High School       638
Wilson High School       578
Wright High School       583
dtype: int32

In [25]:
school_level_summary_df = pd.DataFrame({
    "Student Pop.":school_pop, 
    "Budget": budgets, 
    "Per Pupil Spend": pp_spend}, 
    index=schools
)
school_level_summary_df

                       Student Pop.   Budget  Per Pupil Spend
Huang High School              2917  1910635              655
Figueroa High School           2949  1884411              639
Shelton High School            1761  1056600              600
Hernandez High School          4635  3022020              652
Griffin High School            1468   917500              625
Wilson High School             2283  1319574              578
Cabrera High School            1858  1081356              582
Bailey High School             4976  3124928              628
Holden High School              427   248087              581
Pena High School                962   585858              609
Wright High School             1800  1049400              583
Rodriguez High School          3999  2547363              637
Johnson High School            4761  3094650              650
Ford High School               2739  1763916              644
Thomas High School             1635  1043130              638

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [26]:
math_rate_by_school = school_group["math_score"].mean()
math_rate_by_school = round(math_rate_by_school, 1)
math_rate_by_school.sort_values(ascending=False)

school_name
Pena High School         83.8
Holden High School       83.8
Wright High School       83.7
Thomas High School       83.4
Shelton High School      83.4
Griffin High School      83.4
Wilson High School       83.3
Cabrera High School      83.1
Hernandez High School    77.3
Johnson High School      77.1
Ford High School         77.1
Bailey High School       77.0
Rodriguez High School    76.8
Figueroa High School     76.7
Huang High School        76.6
Name: math_score, dtype: float64

In [27]:
reading_rate_by_school = school_group["reading_score"].mean()
reading_rate_by_school = round(reading_rate_by_school, 1)
reading_rate_by_school

school_name
Bailey High School       81.0
Cabrera High School      84.0
Figueroa High School     81.2
Ford High School         80.7
Griffin High School      83.8
Hernandez High School    80.9
Holden High School       83.8
Huang High School        81.2
Johnson High School      81.0
Pena High School         84.0
Rodriguez High School    80.7
Shelton High School      83.7
Thomas High School       83.8
Wilson High School       84.0
Wright High School       84.0
Name: reading_score, dtype: float64

In [28]:
school_level_summary_df["Math Pass Rate"] = math_rate_by_school
school_level_summary_df["Reading Pass Rate"] = reading_rate_by_school

In [29]:
overall_by_school = (math_rate_by_school + reading_rate_by_school)/2
overall_by_school =(round(overall_by_school, 1))
overall_by_school = overall_by_school.sort_values(ascending=False)
overall_by_school

school_level_summary_df["Overall"] = overall_by_school
del school_level_summary_df["Budget"]

school_level_summary_df.head(8)

,Student Pop.,Per Pupil Spend,Math Pass Rate,Reading Pass Rate,Overall
Huang High School,2917,655,76.6,81.2,78.9
Figueroa High School,2949,639,76.7,81.2,79.0
Shelton High School,1761,600,83.4,83.7,83.6
Hernandez High School,4635,652,77.3,80.9,79.1
Griffin High School,1468,625,83.4,83.8,83.6
Wilson High School,2283,578,83.3,84.0,83.6
Cabrera High School,1858,582,83.1,84.0,83.6
Bailey High School,4976,628,77.0,81.0,79.0

In [30]:
school_level_summary_df.dtypes

Student Pop.           int64
Per Pupil Spend        int32
Math Pass Rate       float64
Reading Pass Rate    float64
Overall              float64
dtype: object

In [31]:
ranked_reading = reading_rate_by_school.sort_values(ascending=False)
ranked_reading = ranked_reading.head(5)
ranked_reading = round(ranked_reading, 1)
ranked_reading

school_name
Wright High School     84.0
Wilson High School     84.0
Pena High School       84.0
Cabrera High School    84.0
Thomas High School     83.8
Name: reading_score, dtype: float64

In [32]:
ranked_math = math_rate_by_school.nlargest(5)
ranked_math = round(ranked_math, 1)
ranked_math

school_name
Holden High School     83.8
Pena High School       83.8
Wright High School     83.7
Griffin High School    83.4
Shelton High School    83.4
Name: math_score, dtype: float64

In [33]:
best_overall = overall_by_school.head(5)
best_overall = round(best_overall, 1)
best_overall

school_name
Pena High School      83.9
Wright High School    83.8
Holden High School    83.8
Wilson High School    83.6
Thomas High School    83.6
dtype: float64

In [34]:
worst_overall = overall_by_school.nsmallest(5)
worst_overall = round(worst_overall, 1)
worst_overall

school_name
Rodriguez High School    78.8
Huang High School        78.9
Ford High School         78.9
Johnson High School      79.0
Figueroa High School     79.0
dtype: float64

In [35]:
top5_overall = school_level_summary_df["Overall"].nlargest(5)
top5_overall

Pena High School       83.9
Holden High School     83.8
Wright High School     83.8
Shelton High School    83.6
Griffin High School    83.6
Name: Overall, dtype: float64

In [36]:
bottom5_overall = school_level_summary_df["Overall"].nsmallest(5)
bottom5_overall

Rodriguez High School    78.8
Huang High School        78.9
Ford High School         78.9
Figueroa High School     79.0
Bailey High School       79.0
Name: Overall, dtype: float64

In [37]:
top5_data = ({"Top 5 Performing Schools": [
    "Pena High School",       
    "Holden High School",     
    "Wright High School",     
    "Shelton High School",   
    "Griffin High School"]
             })    
top5_data_df = pd.DataFrame(top5_data)
top5_data_df

  Top 5 Performing Schools
0         Pena High School
1       Holden High School
2       Wright High School
3      Shelton High School
4      Griffin High School

In [38]:
grade_grouped = school_data_complete.groupby(["school_name", "grade"])
grade_grouped = (round(grade_grouped.mean(),1))
grade_grouped_df = pd.DataFrame(grade_grouped[["reading_score", "math_score"]])
grade_grouped_df = grade_grouped_df.rename(columns={"reading_score": "Reading Avg", "math_score": "Math Avg"})
grade_grouped_df = grade_grouped_df.sort_values(by=["school_name", "grade"])
grade_grouped_df.head()

                           Reading Avg  Math Avg
school_name         grade
Bailey High School  9             81.3      77.1
                    10            80.9      77.0
                    11            80.9      77.5
                    12            80.9      76.5
Cabrera High School 9             83.7      83.1

In [39]:
#Add new column for Overall Avg
grade_grouped_df["Overall Avg"] = 0.0

## Math & Reading Scores by Grade & School

In [40]:
grade_grouped_df["Overall Avg"] = round(((grade_grouped_df["Reading Avg"] + grade_grouped_df["Math Avg"])/2), 1)
grade_grouped_df

                             Reading Avg  Math Avg  Overall Avg
school_name           grade
Bailey High School    9             81.3      77.1         79.2
                      10            80.9      77.0         79.0
                      11            80.9      77.5         79.2
                      12            80.9      76.5         78.7
Cabrera High School   9             83.7      83.1         83.4
                      10            84.3      83.2         83.8
                      11            83.8      82.8         83.3
                      12            84.3      83.3         83.8
Figueroa High School  9             81.2      76.4         78.8
                      10            81.4      76.5         79.0
                      11            80.6      76.9         78.8
                      12            81.4      77.2         79.3
Ford High School      9             80.6      77.4         79.0
                      10            81.3      77.7         79.5
                      11            80.4      76.9         78.6
                      12            80.7      76.2         78.4
Griffin High School   9             83.4      82.0         82.7
                      10            83.7      84.2         84.0
                      11            84.3      83.8         84.0
                      12            84.0      83.4         83.7
Hernandez High School 9             80.9      77.4         79.2
                      10            80.7      77.3         79.0
                      11            81.4      77.1         79.2
                      12            80.9      77.2         79.1
Holden High School    9             83.7      83.8         83.8
                      10            83.3      83.4         83.4
                      11            83.8      85.0         84.4
                      12            84.7      82.9         83.8
Huang High School     9             81.3      77.0         79.2
                      10            81.5      75.9         78.7
                      11            81.4      76.4         78.9
                      12            80.3      77.2         78.8
Johnson High School   9             81.3      77.2         79.2
                      10            80.8      76.7         78.8
                      11            80.6      77.5         79.0
                      12            81.2      76.9         79.1
Pena High School      9             83.8      83.6         83.7
                      10            83.6      83.4         83.5
                      11            84.3      84.3         84.3
                      12            84.6      84.1         84.4
Rodriguez High School 9             81.0      76.9         79.0
                      10            80.6      76.6         78.6
                      11            80.9      76.4         78.6
                      12            80.4      77.7         79.1
Shelton High School   9             84.1      83.4         83.8
                      10            83.4      82.9         83.2
                      11            84.4      83.4         83.9
                      12            82.8      83.8         83.3
Thomas High School    9             83.7      83.6         83.6
                      10            84.3      83.1         83.7
                      11            83.6      83.5         83.6
                      12            83.8      83.5         83.6
Wilson High School    9             83.9      83.1         83.5
                      10            84.0      83.7         83.8
                      11            83.8      83.2         83.5
                      12            84.3      83.0         83.6
Wright High School    9             83.8      83.3         83.6
                      10            83.8      84.0         83.9
                      11            84.2      83.8         84.0
                      12            84.1      83.6         83.8

In [41]:
print(school_level_summary_df["Per Pupil Spend"].max())
print(school_level_summary_df["Per Pupil Spend"].min())

655
578

In [42]:
bins=[575, 600, 625, 650, 675]
group_labels = ["Low Investment", "Low Avg", "High Avg", "High Investment"]
school_level_summary_df["Investment Level"] = pd.cut(school_level_summary_df["Per Pupil Spend"], bins, labels = group_labels)
school_level_summary_df.head()

,Student Pop.,Per Pupil Spend,Math Pass Rate,Reading Pass Rate,Overall,Investment Level
Huang High School,2917,655,76.6,81.2,78.9,High Investment
Figueroa High School,2949,639,76.7,81.2,79.0,High Avg
Shelton High School,1761,600,83.4,83.7,83.6,Low Investment
Hernandez High School,4635,652,77.3,80.9,79.1,High Investment
Griffin High School,1468,625,83.4,83.8,83.6,Low Avg

In [43]:
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
school_level_summary_df["School Size"] = pd.cut(school_level_summary_df["Student Pop."], size_bins, labels = group_names)
school_level_summary_df["Per Pupil Spend"] = school_level_summary_df["Per Pupil Spend"].map("${}".format)
school_level_summary_df.sort_values("School Size")

,Student Pop.,Per Pupil Spend,Math Pass Rate,Reading Pass Rate,Overall,Investment Level,School Size
Holden High School,427,$581,83.8,83.8,83.8,Low Investment,Small (<1000)
Pena High School,962,$609,83.8,84.0,83.9,Low Avg,Small (<1000)
Shelton High School,1761,$600,83.4,83.7,83.6,Low Investment,Medium (1000-2000)
Griffin High School,1468,$625,83.4,83.8,83.6,Low Avg,Medium (1000-2000)
Cabrera High School,1858,$582,83.1,84.0,83.6,Low Investment,Medium (1000-2000)
Wright High School,1800,$583,83.7,84.0,83.8,Low Investment,Medium (1000-2000)
Thomas High School,1635,$638,83.4,83.8,83.6,High Avg,Medium (1000-2000)
Huang High School,2917,$655,76.6,81.2,78.9,High Investment,Large (2000-5000)
Figueroa High School,2949,$639,76.7,81.2,79.0,High Avg,Large (2000-5000)
Hernandez High School,4635,$652,77.3,80.9,79.1,High Investment,Large (2000-5000)
Wilson High School,2283,$578,83.3,84.0,83.6,Low Investment,Large (2000-5000)
Bailey High School,4976,$628,77.0,81.0,79.0,High Avg,Large (2000-5000)
Rodriguez High School,3999,$637,76.8,80.7,78.8,High Avg,Large (2000-5000)
Johnson High School,4761,$650,77.1,81.0,79.0,High Avg,Large (2000-5000)
Ford High School,2739,$644,77.1,80.7,78.9,High Avg,Large (2000-5000)

In [46]:
def highlight(val):
    yellow = 'background-color: yellow' if val =="High Investment" else ''
    return yellow
school_level_summary_df.style.applymap(highlight)